/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--main-font);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-card-text)
    var(--font-weight-card-title);
  color: var(--accent-color);
  background-position: center;
  background-size: cover;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  width: clamp(23.1875rem, 16.0352rem + 32.2vw, 43.5rem);
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  margin: 102px 0 98px;
  padding: 136px 0 21px;
  border: 2px solid var(--accent-color);
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
}

.header__subtitle {
  padding: 20px 0 25px;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
}

.main {
 display: flex;
 flex-direction: column;
 gap: 50px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.theme-menu__button {
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  padding-inline-start: 10px;
}

.theme-menu__button:enabled {
  padding-inline-start: 12px;
}

.theme-menu__button:disabled::before {
  position: absolute;
  right: 90px;
  content: "▶";
  animation: pointer_shift 0.5s infinite reverse ease-in-out;
}

.theme-menu__button:hover {
  opacity: 0.6;
  animation-timing-function: ease;
  transition: 0.3s;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  animation-timing-function: ease;
  transition: 0.3s;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  transform: scaleX(0);
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
  transform-origin: left;
  transition: transform 0.3s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.preparation {
  display: flex;
  flex-direction: column;
  width: clamp(23.1875rem, 16.0352rem + 32.2vw, 43.75rem);
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.preparation__title {
  display: block;
  background-color: var(--background-color);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-card-title);
  font-size: var(--font-size-card);
  padding: 3px 10px;
}

.img__container {
  overflow: hidden;
  position: relative;
}

.preparation__picture {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  border-block-end: 2px solid var(--accent-color);
  border-block-start: 2px solid var(--accent-color);
}

.filter_blur {
  filter: blur(3px);
}

.filter_saturate {
  filter:saturate(210%)
}

.filter_sepia {
  filter: sepia(0.5);
}

.filter_hue-rotate {
  filter: hue-rotate(0.2turn);
}

.filter_grayscale {
  filter: grayscale(80%);
}

.may_filters {
  filter: sepia(0.4) saturate(110%) hue-rotate(0.2turn); 
}

.filter_brightness {
  filter: brightness(115%);
}

.img__label {
  position: absolute;
  inset-block-start: 30px;
  inset-inline-end: 25px;
  text-transform: uppercase;
  background-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 14px;

  color: var(--accent-color);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--background-color);
  text-shadow: 0px 0px 5px black;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #FFF) or (-webkit-text-stroke: 1px #FFF)) {
  .img__label {
      -webkit-text-stroke: 1px #FFF;
      text-stroke: 1px #FFF;
      text-shadow: none;
  }
} 

.preparation__text-container {
  display: block;
}

.preparation__text {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-card-text);
  font-size: var(--font-size-card);
  line-height: 21px;
  padding: 20px 25px 27px;
}

.preparation__text:last-child {
  padding: 0 25px;
}

.preparation__button-container {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-inline-end: 4px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color 0.3s ease;
  outline-color: var(--accent-color);
}

.like-icon {
  color: var(--accent-color);
}

.card__like-button {
  display: block;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 0 36px;
  position: relative;
  cursor: pointer;
  margin-inline-start: 2px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease-in-out;
}

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}

.card__like-button:hover::before {
  transform: scaleX(1);
  cursor: pointer;
}

.button__text {
  position: relative;
  font-family: var(--accent-font);
  font-weight: var(--font-weight-card-text);
  line-height: 12px;
  font-size: 14px;
  mix-blend-mode: difference;
  z-index: 2;
  color: var(--button-text-color);
}

.footer__button {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  margin: 50px 0 103px;
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  padding: 13px 0;
  z-index: 2;
}

.floppy {
  position: relative;
  width: 21px;
  height: auto;
  mix-blend-mode: difference;
  color: var(--button-text-color);
  margin: 0 8px 0 19px;
  z-index: 2;
}

.footer__button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}

.footer__button:hover::before {
  transform: scaleX(1);
  cursor: pointer;
}

.popup-floppy:is([open]) {
  width: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  background: var(--background-popup-color);
  border: 2px solid var(--accent-color);
  padding: 30px;
}

.popup-floppy::backdrop {
  background: #000000;
  opacity: 0.75;
}
.popup-floppy_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.popup-floppy_content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.popup-floppy_text {
  text-transform: uppercase;
  line-height: 21px;
}

.floppy-popup {
  align-self: center;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.popup-floppy_button {
  padding: 7px 0;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  border: 2px solid var(--accent-color);
}

.popup-floppy_button:focus {
  outline: none;
}

@media (width <= 375px) {
  .header {
    width: 100%;
    padding-block-start: 120px;
  }

  .preparation__picture {
    height: auto;
  }

  .footer__button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .floppy {
    width: 28px;
  }

  .popup-floppy_button {
    width: 257px;
  }

}

